.main-color-1{
    background-color: #f4a460;
}
iframe{
    border: 0;
      width: 100%;
      height: 450px;
      padding: 10px;
} 
/* Centrare contenuti */
.alineareCentro{
    text-align: center;
    margin-top: 20px;
} 

.barraBreadcrumb{
  position: absolute;    
  left: 175px; 
  top: 70px;     
}

/* Icone visivamente più grandi e distanziate */

.dimensioneImaginiTesto p {
    font-size: 20px;
    margin: 10px 0;
} .dimensioneImaginiTesto i {
    color: blue;
}
#carouselSideText{
    padding: 100px;
    
} iframe{
    border: 0;
      width: 100%;
      height: 450px;
      padding: 10px;
} .alineareCentro{
    text-align: center;
}
#carouselSideText{
    padding: 100px;
} .neutral-1{
    background-color: #fff8dc;
}